{% extends 'base.html' %}

{% block title %}학생 활동 내역 - 관리자{% endblock %}

{% block content %}
<h2>학생 활동 내역</h2>
<table>
    <thead>
        <tr>
            <th>학생</th>
            <th>행사</th>
            <th>날짜</th>
            <th>상태</th>
        </tr>
    </thead>
    <tbody>
        {% for attendance in attendances %}
        <tr>
            <td>{{ attendance.student.name }}</td>
            <td>{{ attendance.event.name }}</td>
            <td>{{ attendance.event.date }}</td>
            <td>{{ attendance.get_status_display }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">활동 내역이 없습니다.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}